// Blue
$lightShade: #F6F7F7;
$lightAccent: #86B1CA;
$mainBrand: #6192BF;
$darkAccent: #788CA6;
$darkShade: #294375;
/*

$lightShade: #EFF0F1;
$lightAccent: #CB8655;
$mainBrand: #7D8085;
$darkAccent: #8F6360;
$darkShade: #2D2F38;
$lightShade: #F3F5F5;
$lightAccent: #939EA0;
$mainBrand: #7D7975;
$darkAccent: #858787;
$darkShade: #3A3B3A;
*/
// $lightShade: #F4F5F5;
// $lightAccent: #92AEAA;
// $mainBrand: #778189;
// $darkAccent: #85878E;
// $darkShade: #2B364C;

// $lightShade: #F8F8F8;
// $lightAccent: #308BA5;
// $mainBrand: #4A99BD;
// $darkAccent: #5582A8;
// $darkShade: #145280;

// Font sizes
$titleSize: 25px;
$emphSize: 20px;
$fontSize: 15px;

// Widths
$maxWidth: 100%;
$tightWidth: 500px;

// Border
$borderParams: 1px solid $darkShade;

// Random
$pad: 10px;
$sideLg: 220px;

// Transition
$transition: all 0.25s ease-in-out;
