$lightShade: #F6F7F7;
$lightAccent: #86B1CA;
$mainBrand: #6192BF;
$darkAccent: #788CA6;
$darkShade: #294375;

// $lightShade: #F4F5F5;
// $lightAccent: #92AEAA;
// $mainBrand: #778189;
// $darkAccent: #85878E;
// $darkShade: #2B364C;

// $lightShade: #F8F8F8;
// $lightAccent: #308BA5;
// $mainBrand: #4A99BD;
// $darkAccent: #5582A8;
// $darkShade: #145280;

// Font sizes
$titleSize: 25px;
$emphSize: 20px;
$fontSize: 15px;

// Widths
$maxWidth: 100%;
$tightWidth: 500px;

// Border
$borderParams: 1px solid $darkShade;

// Random
$pad: 10px;
$sideLg: 250px;

// Transition
$transition: all 0.25s ease-in-out;
