@mixin smButton() {
  font-size: 0.8em;
  transition: $transition;
  border: 1px solid $lightShade;
  background: $darkShade;
  padding: 2px 5px !important;

  @include large {
    font-size: 1em;
  }
  &:hover {
    cursor: pointer;
    color: $darkShade;
    text-decoration: none;
    border: 1px solid $lightShade;
    background: $lightShade;
  }
}

.cta {
  padding: 5px 10px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: $mainBrand;
  color: $lightShade;
}

/*
  color: $lightShade;
  text-decoration: none;
  font-size: 0.8em;
  border: 1px solid $lightShade;
  background: $darkAccent;
  text-transform: uppercase;
  margin-right: 5px;

  @include large {
    padding: 4px 10px !important;
  }
  &:hover {
    background: black;
    color: $darkAccent;
    text-decoration: none;
    border: 1px solid $lightShade;
    background: $lightShade;
    @include large {
      padding: 4px 10px !important;
    }
  }
*/
