@mixin smButton() {
  font-size: 0.8em;
  transition: $transition;
  border: 1px solid;
  padding: 2px 5px !important;

  @include large {
    font-size: 1em;
  }
  @include hover{
    cursor: pointer;
    text-decoration: none;
    border: 1px solid;
  }
}

@mixin baseBtnColors {
  color: $darkShade !important;
  transition: $transition;
  border-color: $darkShade;
  background: $lightShade;
  @include hover{
    color: $lightShade !important;
    border-color: $darkShade;
    background: $darkShade;
  }
}

@mixin inverseBtnColors {
  color: $lightShade !important;
  transition: $transition;
  border-color: $lightShade;
  background: $darkShade;
  @include hover{
    color: $darkShade !important;
    border-color: $lightShade;
    background: $lightShade;
  }
}

@mixin darkAccentBtnColors {
  color: $lightShade !important;
  transition: $transition;
  border-color: $lightShade;
  background: $darkAccent;
  @include hover{
    color: $darkAccent !important;
    border-color: $lightShade;
    background: $lightShade;
  }
}

.btn-normal {
  @include baseBtnColors;
  &.on-white {
    @include hover{
      border-color: $darkShade !important;
    }
  }
}

.btn-inverse {
  @include inverseBtnColors;
  &.on-white {
    border-color: $darkShade !important;
  }
}

.btn-alert {
  @include darkAccentBtnColors;
  &.on-white {
    @include hover{
      border-color: $darkAccent;
    }
  }
}

ul.button-list {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 10px;

    a, button {
      @include smButton;
      text-decoration: none;
    }
  }
}

.cta {
  padding: 5px 10px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: $mainBrand;
  color: $lightShade;
}

/*
  color: $lightShade;
  text-decoration: none;
  font-size: 0.8em;
  border: 1px solid $lightShade;
  background: $darkAccent;
  text-transform: uppercase;
  margin-right: 5px;

  @include large {
    padding: 4px 10px !important;
  }
  @include hover{
    background: black;
    color: $darkAccent;
    text-decoration: none;
    border: 1px solid $lightShade;
    background: $lightShade;
    @include large {
      padding: 4px 10px !important;
    }
  }
*/
