.content {
  @include wrapper;
  grid-area: content;
  max-width: 800px;

  @include large{
    border-left: $borderParams;
  }

  button {
    font-size: $emphSize;
  }

  .list-content {
    ul {
      padding: 0;

      li {
        display: block;

        h2 {
          font-size: 1.5rem;
        }
      }
    }
  }

  form, div {
    label {
      font-size: $emphSize;
      display: block;
      margin-bottom: 5px;
    }
  }
}
