* {box-sizing: border-box;}

body {
  max-width: $maxWidth;
  margin: auto;
  padding: $pad;
  background-color: $lightShade;
}

h1 {
  margin-top: 0;
}

.wrapper {
  display: grid;
  // grid-gap: 10px 10px;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "footer";

  @include large {
    grid-template-columns: $sideLg 1fr;
    grid-template-areas:
      "header   header"
      "nav      content"
      "footer   footer";
  }

  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

.head {
  @include wrapper;
  grid-area: header;
  @include large {
    border-bottom: $borderParams;
  }

  display: flex;
  justify-content: space-between;

  .title {
    @include large {
      flex-basis: $sideLg;
    }
    font-size: $titleSize;
    margin-right: $pad;
  }
  .profile {
    line-height: $titleSize;
    margin-left: auto;
  }
}

.footer {
  @include wrapper;
  @include large {
    border-top: $borderParams;
  }
  grid-area: footer;
}

.hide {
  display: none !important;
}
