.nav {
  @include wrapper;
  grid-area: nav;
  padding-bottom: 0;
  @include large {
    margin-bottom: 10px;
  }

  .search {
    $pad: 5px;

    position: relative;

    ul {
      @include wrapper(0);
      border: $borderParams;

      display: block;
      position: absolute;
      background-color: $lightShade;
      width: 100%;
      margin: 0;
      padding: 0;
      border-top: 0;

      li {
        display: block;
        position: relative;
        text-decoration: none;
        width: 100%;

        a {
          margin: $pad;
          display: block;
          width: 100%;
        }
        &:hover {
          color: $mainBrand;
          cursor: pointer;
        }
      }
    }
  }

  ul.nav-links {
    padding: 0;
    margin: 0;
    display: flex;

    li {
      @include smButton;
      @include baseBtnColors;

      font-size: 1em;
      padding-left: 5px !important;
      text-align: center;

      flex: 1;
      list-style: none;
      margin: 2px;
      margin-top: 5px;

      @include large {
        text-align: left;
        padding: 4px 4px !important;
      }

      &:nth-child(odd) {
        margin-left: 0;
      }
      &:nth-child(even) {
        margin-right: 0;
      }

      &:hover {
        a {
          color: $lightShade;
        }
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        transition: $transition;
        color: $darkShade;
      }
    }
  }
}
