.nav {
  @include wrapper;
  grid-area: nav;
  padding-bottom: 0;
  @include large {
    margin-bottom: 10px;
  }

  .search {
    $pad: 5px;
    margin-bottom: 10px;

    position: relative;

    ul {
      @include wrapper(0);
      border: $borderParams;

      display: block;
      position: absolute;
      background-color: $lightShade;
      width: 100%;
      margin: 0;
      padding: 0;
      border-top: 0;

      li {
        display: block;
        position: relative;
        text-decoration: none;
        width: 100%;

        a {
          margin: $pad;
          display: block;
          width: 100%;
        }
        @include hover {
          color: $mainBrand;
          cursor: pointer;
        }
      }
    }
  }

  ul.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    li {
      background: $darkShade url('/img/icons/SchoolboyQ25.png');
      background-repeat: no-repeat;
      background-position: 2px 3px;
      transition: $transition;

      padding-left: 30px;
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 5px;

      transition: $transition;
      border: 1px solid;
      color: $lightShade;
      border-color: $lightShade;

      @include hover {
        color: $darkShade;
        border: 1px solid $darkShade;
        background: $lightShade url('/img/icons/SchoolboyQ25.png');
        background-repeat: no-repeat;
        background-position: 2px 3px;
        a {
          transition: $transition;
          color: $darkShade;
        }
      }
      a {
        display: block;
        width: 100%;
        color: $lightShade;
        text-decoration: none;
        line-height: 30px;
      }
    }

    /*
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    li {
      @include smButton;
      @include baseBtnColors;

      font-size: 1em;
      padding-left: 5px !important;
      text-align: center;

      list-style: none;
      margin: 2px;
      margin-top: 5px;

      @include large {
        text-align: left;
        padding: 4px 4px !important;
      }

      &:nth-child(odd) {
        margin-left: 0;
      }
      &:nth-child(even) {
        margin-right: 0;
      }

      @include hover {
        a {
          color: $lightShade;
        }
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        transition: $transition;
        color: $darkShade;
      }
    }
    */
  }
}
