.nav {
  @include wrapper;
  grid-area: nav;

  .search {
    $pad: 5px;

    position: relative;
    input {
      @include input;
    }

    ul {
      @include wrapper(0);
      border: $borderParams;

      display: block;
      position: absolute;
      background-color: $lightShade;
      width: 100%;
      margin: 0;
      padding: 0;
      border-top: 0;

      li {
        display: block;
        position: relative;
        text-decoration: none;
        width: 100%;
        padding: $pad;

        a {
          display: block;
          width: 100%;
        }
        &:hover {
          color: $mainBrand;
          cursor: pointer;
        }
      }
    }
  }
}
